.item-list{
    border:3px solid black;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    background-color: #B3005E;
    color: #537FE7;
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 200px;

}
.item-list2{
    left: 800px;

}
.para{
    color:red;
}